@font-face {
    font-family: "Manrope";
    src: url(../fonts/manrope-regular.ttf);
}
@font-face {
    font-family: "Coil";
    src: url(../fonts/manrope-medium.ttf);
}
@font-face {
    font-family: "Ruberoid";
    src: url(../fonts/Ruberoid-Regular.ttf);
}
@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}
body{
    background-color: #040404;
}
header{
    display: flex;
    justify-content: center;
    height: 630px;
}
.header_content{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo img{
    width: 105px;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
nav{
    max-width: 450px;
    width: 100%;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    outline: none;
}
.navbar a:after { 
    display: block;
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #ffffff; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out;
}
.navbar a:hover:after,
.navbar a:focus:after {
width: 100%;
}
.header_litering {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 350px;
    height: 100%;
}
.litering_content {
    display: flex;
    max-width: 750px;
    width: 100%;
}
.litering_content h1{
    font-family: 'Coil';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 95%;
    background: linear-gradient(267.88deg, #52FFCB , #D274FF , #81ACFF );
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: animated_text 5s ease-in-out infinite;
	-moz-animation: animated_text 5s ease-in-out infinite;
	-webkit-animation: animated_text 5s ease-in-out infinite;
}

.content_description {
    display: flex;
    justify-content: space-between;
}
.nav_scroll a{
    display: flex;
    justify-content: space-evenly;
    max-width: 180px;
    width: 100%;
    align-items: center;
    text-decoration: none;
    outline: none;
}
.nav_scroll p{
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    padding-left: 15px;
}
.nav_scroll img{
    width: 49px;
    height: 49px;
}

.description_text p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;   
    color: #FFFFFF;
}

.main_content {
}
.slider{
}
.slider img{
    margin-top: 100px;
    width: 100%;
}
.two_block {
    display: flex;
    justify-content: center;
}
.anim{
    display: flex;
}
.block_content h2{
    width: 752px;
    font-family: 'Coil';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    background: linear-gradient(267.88deg, #52FFCB , #D274FF , #81ACFF ) ;
    background-size: 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: animated_text 5s ease-in-out infinite;
	-moz-animation: animated_text 5s ease-in-out infinite;
	-webkit-animation: animated_text 5s ease-in-out infinite;
}
.block_content p{
    align-self: flex-end;
    width: 388px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}
.block_content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    height: 600px;
    padding: 277px 0 277px;
}
.product {
    display: flex;
    flex-direction: column;
    
}
.product_content {
    display: flex;
    max-height: 700px;
    height: 100%;
    margin-bottom: 200px;
    padding-top: 200px;
}
.images {
    max-width: 950px;
    width: 100%;

}
.images img{
    max-width: 950px;
    height: 700px;

}
.discription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 390px;
    margin-left: 60px;
    
    
}
.product_content:nth-child(2) .images {
    order: 2;

}
.discription:nth-child(2) {
    order: 1;
    margin-right: 60px;
}
.product_content:nth-child(2){
    justify-content: flex-end;

}
.product_content:nth-child(1) h2{
    font-family: 'Coil';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    color: #65D0D0;
}
.product_content:nth-child(2) h2{
    font-family: 'Coil';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    color: #F9DE75;
}
.product_content:nth-child(3) h2{
    font-family: 'Coil';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 67px;
    color: #48BDFF;
}
.discription p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #FFFFFF;

}
.discription p:nth-child(3){
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    opacity: 0.5;
}
.discription button{
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 22px 44px;
    width: 185px;
}
button:hover{
    background-color: #ffffff;
    color: #000000;
    transition-duration: 0.8s;
}
footer{
    display: flex;
    justify-content: center;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 360px;
    margin-bottom: 220px;
}
.footer_content p{
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.footer_content .logo {
    max-width: 250px;
    width: 100%;
}
.footer_content .logo img{
    max-width: 250px;
    width: 100%;
}
.contacts a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    text-decoration: none;
}
.contacts a:after { 
    display: block;
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 3px; /*задаём высоту линии*/
    width: 0%; /*задаём начальную ширину элемента (линии)*/
    background-color: #ffffff; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out;
}
.contacts a:hover:after,
.contacts a:focus:after {
width: 100%;
}
.contacts{
    display: flex;
    justify-content: space-between;
    max-width: 590px;
    width: 100%;
}